body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;}


input {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    border: 2px solid #896089;
}

button{
    width: 100px;
    padding: 15px;
    margin-top: 10px;
    background-color: #896089;
    cursor: pointer;
    border: none;
    color: white;
}

ul{
   list-style: none;
   padding-left: 10px;
   margin-top: 20px;
}

li{
    margin-top: 5px;
}

a{
    color: rgb(77, 29, 109);
}